
<hr>
<h3>This is the Servers component</h3>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="textInput"> <!-- this is two-data-binding here-->
<!-- <p>{{textInput}}</p> -->
<button class="addServerButton" (click)= "onCreateServer()" [disabled]="!allowNewServer">Add Server</button>
<p [innerText]="allowNewServer"></p>
<p>{{serverCreationStatus}}</p>



<!-- Assignment Question -->
<hr>
<h3>This is assignment Answer</h3>
<!-- 1. Add a Input field which updates a property('userName') via Two-way binding-->
<input type="text" [(ngModel)]="username">
<p>{{username}}</p>
<button type="button" [disabled]="username == ' ' " (click)="username = ' ' ">Click here</button>

<hr>
<h3>This is for the directives</h3>
<input type="text" [(ngModel)] = 'updateDirective'>
<p *ngIf="toggleButton">Server is created and the name of the server is {{updateDirective}}</p>
<button type="button" [disabled] = "toggleButton" (click)="onCreateServer()">click </button>